node_modules
crashdumps
cache
data
modules
server.log
package-lock.json
update.cfg
jsconfig.json
update.log
update.sh
altv-server.*
altv-server
cdn_upload
resources/veh_*
resources/mod_*
resources/cloth_*
resources/map_*
logger
cdn_upload