{
    "printWidth": 1000,
    "overrides": [
        {
          "files": ["resources/Gamemode/server/utils/badword_detect.js"],
          "options": {
            "printWidth": 80
          }
        }
      ]
}