@font-face {
  font-family: "DreamscapeSans";
  src: url("../../plugins/font/DreamscapeSans.ttf");
}

@font-face {
  font-family: "FranklinGothicDemiCondRegular";
  src: url("../../plugins/font/FranklinGothicBookRegular.ttf");
}

@font-face {
  font-family: "FranklinGothicBookRegular";
  src: url("../../plugins/font/FranklinGothicBookRegular.ttf");
}

@font-face {
  font-family: "BKoodakBold";
  src: url("../../plugins/font/BKoodakBold.ttf");
}

@font-face {
  font-family: "IRAN_Sans_Bold";
  src: url("../../plugins/font/IRAN_Sans_Bold.ttf");
}

@font-face {
  font-family: "IRAN_Sans_Regular";
  src: url("../../plugins/font/IRAN_Sans_Regular.ttf");
}

@font-face {
  font-family: "Reyhaneh";
  src: url("../../plugins/font/Reyhaneh.ttf");
}

:root {
  --FontDreams: "DreamscapeSans";
  --FontDemiCond: "FranklinGothicDemiCondRegular";
  --FontBook: "FranklinGothicBookRegular";
  --Reyhaneh: "Reyhaneh";
  --BKoodak: "BKoodakBold";
  --Sans_Bold: "IRAN_Sans_Bold";
  --Sans_Regular: "IRAN_Sans_Regular";
  --circle-size: 25px;
  --spacing: 8px;
  /* --Special_Color: #00ffb2; */
  --Special_Color: #f66b0e;
}
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: var(--FontDemiCond);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

input[type="date"] {
  font-size: 9px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  /* background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat; */
  width: 5px;
  height: 5px;
  border-width: thin;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #eaebf3; */
  overflow: hidden;
}

.ThemeBTN {
  position: absolute;
  top: 0px;
  right: 0px;
}

.container {
  box-shadow: 0px 0px 40px -10px #000000;
  position: absolute;
  width: 85%;
  min-width: 670px;
  min-height: 80%;
  overflow: hidden;
}

.sign-in-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s;
  display: grid;
  grid-template-rows: auto auto auto auto;
  background-color: #ffffff;
}

.sign-up-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  display: grid;
  grid-template-rows: 20% 15% 65%;
  background-color: #ffffff;
  align-items: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("../img/bg-left.jpg");
  background-size: cover;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 100;
}

.overlay img {
  z-index: 1;
  animation: logoanim ease 1s;
}

@keyframes logoanim {
  0% {
    transform: scale(112%);
  }
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
  opacity: 0;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
}

.container.right-panel-active .overlay {
  transform: translateX(-100%);
}

.sign-in-top {
  width: 90%;
  margin: auto;
  position: relative;
  height: 65px;
}

.sub-sign-in-top {
  position: absolute;
  top: 0px;
}
.sub-sign-in-top div:nth-child(1) {
  font-family: var(--FontDreams);
  color: #464646;
  font-size: 32px;
}
.sub-sign-in-top div:nth-child(2) {
  font-family: var(--FontBook);
  font-size: 18px;
  color: #636363;
}
.sub-sign-in-top:nth-child(1) {
  border-left: 15px solid transparent;
  border-image: linear-gradient(0deg, #383838, #2d2d2d);
  border-image-slice: 1;
  padding-left: 5px;
  left: 0;
}
.sub-sign-in-top:nth-child(2) {
  right: 0;
  width: 40%;
  top: 5px;
}

.sign-up-top {
  width: 90%;
  margin: auto;
  position: relative;
  height: 65px;
}

.sub-sign-up-top {
  position: absolute;
  top: 0px;
}
.sub-sign-up-top div:nth-child(1) {
  font-family: var(--FontDreams);
  color: #464646;
  font-size: 32px;
}
.sub-sign-up-top div:nth-child(2) {
  font-family: var(--FontBook);
  font-size: 18px;
  color: #636363;
}
.sub-sign-up-top:nth-child(1) {
  border-left: 15px solid transparent;
  border-image: linear-gradient(0deg, #383838, #2d2d2d);
  border-image-slice: 1;
  padding-left: 5px;
  left: 0;
}
.sub-sign-up-top:nth-child(2) {
  right: 0;
  width: 40%;
  top: 5px;
}

.sub-sign-in-main h1 {
  color: #252525;
  font-family: var(--FontDemiCond);
}

.sub-sign-in-main p {
  color: #252525;
  font-family: var(--FontBook);
  font-weight: 100;
}

.sub-sign-in-main {
  z-index: 10;
}

.sign-in-main,
.sign-in-footer,
.sign-up-clickback,
.sign-up-pageview,
.sign-up-footer {
  width: 90%;
  margin: auto;
}

.sign-in-main p {
  width: 80%;
}

.InputText,
.InputPassword {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #7c7c7c;
  padding: 20px 10px 5px;
  height: 40px;
  font-family: var(--FontBook);
  color: #252525;
  font-weight: bold;
}
.sign-in-main .InputPassword {
  letter-spacing: -3px;
}

::placeholder {
  color: #c2c2c2;
  opacity: 1;
  font-weight: 100;
}

:-ms-input-placeholder {
  color: #c2c2c2;
  font-weight: 100;
}

::-ms-input-placeholder {
  color: #c2c2c2;
  font-weight: 100;
}

.lableinput {
  display: block;
  position: relative;
  cursor: pointer;
  width: 90%;
}
.lableinput input {
  cursor: pointer;
}

.SpanFocusInput {
  position: absolute;
  width: 6px;
  height: 38px;
  left: 1px;
  top: 1px;
  background-color: var(--Special_Color);
  transition: 0.3s;
  opacity: 0;
}

.SpanFocusInputFocused {
  transition: 0.3s;
  opacity: 1;
}

.lableinput .SpanInput {
  position: absolute;
  left: 10px;
  font-size: 14px;
  transition: all 0.3s;
  color: #7d7d7d;
}
.ActiveSpan {
  top: 2px;
  transform: translateY(0px);
}
.NotActiveSpan {
  top: 50%;
  transform: translateY(-50%);
}

.sign-in-main .AfterInputUsers {
  margin-top: 30px;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
.sign-in-main div input {
  border-radius: 0px;
}
.sign-in-main div #ForgetPassword {
  float: right;
  color: #252525;
  font-size: 12px;
  font-weight: bold;
  font-family: var(--FontBook);
  cursor: pointer;
}
#signIn1 {
  cursor: pointer;
}

.checkboxlable .text {
  font-size: 12px;
  font-weight: 100;
  font-family: var(--FontBook);
  color: #7d7d7d;
}
.checkboxlable {
  display: inline-block;
  position: relative;
  padding-left: 17px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subcheckboxlable {
  display: grid;
}

.checkboxlable input {
  position: absolute;
  cursor: pointer;
  display: none;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 12px;
  width: 12px;
  border: 1px solid #7c7c7c;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxlable input:checked ~ .checkmark:after {
  display: block;
}

.checkboxlable .checkmark:after {
  left: 3px;
  top: 0px;
  width: 2px;
  height: 6px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sign-in-footer button {
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.sign-in-footer button:nth-child(1) {
  color: #fefefe;
  font-family: var(--FontDreams);
  font-weight: 100;
  background-image: linear-gradient(#2d2d2d, #383838);
  font-size: 12px;
}

.sign-in-footer button:nth-child(2) {
  color: #252525;
  font-family: var(--FontDreams);
  font-weight: 100;
  background-color: #ffffff;
  border: 1px solid #7c7c7c;
  font-size: 12px;
  margin-left: 3px;
}

.sign-up-footer button {
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.sign-up-footer button:nth-child(1) {
  color: #fefefe;
  font-family: var(--FontDreams);
  font-weight: 100;
  background-image: linear-gradient(#2d2d2d, #383838);
  font-size: 12px;
}
.sign-up-footer button:nth-child(2) {
  color: #252525;
  font-family: var(--FontDreams);
  font-weight: 100;
  background-color: #ffffff;
  border: 1px solid #7c7c7c;
  font-size: 12px;
  margin-left: 3px;
}

.c-stepper {
  display: flex;
}

.c-stepper__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
}
.c-stepper__item:nth-last-child(1) {
  margin-top: 1px;
}
.c-stepper__item:before {
  --size: 3rem;
  content: "";
  font-family: var(--FontBook);
  font-size: 14px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--circle-size);
  height: var(--circle-size);
  border-radius: 50%;
  border: 1px solid #252525;
  opacity: 1;
  margin: 0 auto 1rem;
}
.c-stepper__item:nth-child(1):before {
  content: "1";
  color: #fefefe;
  background-color: var(--Special_Color);
  border: 1px solid var(--Special_Color);
}
.c-stepper__item:nth-child(2):before {
  content: "2";
}
.c-stepper__item:nth-child(3):before {
  content: "3";
}
.c-stepper__item:not(:last-child):after {
  content: "";
  position: relative;
  top: calc(var(--circle-size) / 2 + 2px);
  width: calc(100% - var(--circle-size) - calc(var(--spacing) * 2));
  left: calc(50% + calc(var(--circle-size) / 2 + var(--spacing)));
  height: 2px;
  background-color: #7c7c7c;
  order: -1;
}

.c-stepper__desc {
  color: #252525;
  font-size: 10px;
  margin-top: -10px;
  font-family: var(--FontBook);
  font-weight: bold;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.sign-up-clickback span {
  font-family: var(--FontBook);
  font-weight: 100;
  font-size: 14px;
}
.sign-up-clickback .SignInSpan {
  font-weight: bold;
  color: var(--Special_Color);
}

.RadioButtonLable {
  display: inline-block;
  position: relative;
  padding-left: 17px;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.RadioButtonLable input {
  position: absolute;
  cursor: pointer;
  display: none;
}

.checkmarkradio {
  position: absolute;
  top: 50%;
  left: 0;
  height: 12px;
  width: 12px;
  border: 1px solid #7c7c7c;
  border-radius: 50%;
  transform: translateY(-50%);
}

.RadioButtonLable input:checked ~ .checkmarkradio {
  background-color: #252525;
}

.RadioButtonLable:after {
  content: "";
  position: absolute;
  display: none;
}

.RadioButtonLable input:checked ~ .checkmarkradio:after {
  display: block;
}

.RadioButtonLable .checkmarkradio:after {
  top: 0px;
  left: 1px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.sign-in-ClickSignIN {
  margin: auto;
  display: none;
}
.sign-in-ClickSignIN span {
  font-size: 12px;
  font-family: var(--FontBook);
  font-weight: 100;
}
.sign-in-ClickSignIN span span:nth-child(2) {
  color: var(--Special_Color);
  font-weight: bold;
}
.dark_vector2 {
  display: none;
}

.MoonIcon {
  display: none;
}
.buttonUp {
  background: linear-gradient(145deg, #d3d4db, #fafbff);
  box-shadow: 2px 2px 30px #bebec5, -2px -2px 30px #ffffff;
  width: 40px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 50px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  color: #252525;
}
.buttonUp:hover {
  transform: scale(110%);
}
.ButtonUpBox {
  display: grid;
}
.buttonUp svg {
  font-size: 24px;
}
.LoginFormError {
  width: 90%;
  margin-top: 10px;
  color: #ff0000;
  font-family: var(--FontBook);
  font-weight: 100;
  margin-top: -20px;
  transition: 0.3s;
}
.ShowLoginFormError {
  margin-top: 0px;
}
.error {
  border-color: #ff0000;
}

.slider-container {
  /* background: linear-gradient(149deg, rgb(247, 0, 255) 0%, rgb(255, 145, 0) 100%); */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.Step {
  flex-shrink: 0;
  width: 100%;
  transition: 0.5s;
}

.Steps {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  transition: 0.5s;
}
.Step:nth-child(1),
.round {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;
}
.marginTopNotif {
  margin-top: 15px;
}
.registerchecknotif {
  display: block;
}

ul.progress-bar {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

li.section {
  display: inline-block;
  padding-top: 45px;
  font-size: 10px;
  font-family: var(--FontBook);
  font-weight: bold;
  line-height: 16px;
  color: #636363;
  vertical-align: top;
  position: relative;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

li.section:before {
  content: "x";
  position: absolute;
  top: 2px;
  left: calc(50% - 15px);
  z-index: 1;
  width: 30px;
  height: 30px;
  color: #252525;
  border: 1px solid #252525;
  border-radius: 17px;
  line-height: 30px;
  background: #ffffff;
  transition: 0.3s;
}
li.section:nth-child(1)::before {
  content: "1";
}
li.section:nth-child(2)::before {
  content: "2";
}
li.section:nth-child(3)::before {
  content: "3";
}
.status-bar {
  height: 2px;
  background: #707070;
  position: relative;
  top: 20px;
  margin: 0 auto;
}
.current-status {
  height: 2px;
  width: 0;
  border-radius: 1px;
  background: var(--Special_Color);
  transition: width 1000ms linear 0s;
}

@keyframes changeBackground {
  from {
    background: gray;
  }
  to {
    background: var(--Special_Color);
  }
}

li.section.visited:before {
  content: "\2714";
  background: var(--Special_Color);
  border-color: var(--Special_Color);
  color: #ffffff;
  transition: 0.3s;
}

li.section.current:before {
  border-color: #ffffff;
  border-width: 2px;
  background: var(--Special_Color);
  color: #ffffff;
  box-shadow: 0 0 0 2px var(--Special_Color);
  transition: 0.3s;
}

.CodeResendBoxInRegister {
  margin-top: 8px;
}

.CodeResendBoxInRegister div span {
  font-family: var(--FontBook);
  font-weight: 100;
  color: #636363;
  font-size: 14px;
}
.CodeResendBoxInRegister div:nth-child(1) span:nth-child(2) {
  font-weight: bold;
}
.CodeResendBoxInRegister div:nth-child(2) span:nth-child(2) {
  color: var(--Special_Color);
  font-weight: bold;
  cursor: pointer;
}

.AccountInfoOOC {
  font-size: 23px;
}

.AlertUsernamNotChangeBoxInRegister {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 10px auto;
  width: 60%;
}

.AlertUsernamNotChangeBoxInRegister span {
  font-family: var(--FontBook);
  font-size: 12px;
  color: #7c7c7c;
}

.ShowContactInfoBox {
  margin: -15px 0 8px;
}

.ContactInfo span {
  font-family: var(--FontBook);
  font-weight: 100;
  color: #636363;
  font-size: 14px;
}

.ContactInfo span:nth-child(2) {
  font-weight: bold;
}

/* Set Steps in Register */
.step2 {
  transform: translateX(-100%);
}

.step2 .NextContactIntro,
.step3 .NextContactIntro {
  transform: translateY(-100%);
  transition: 0.5s;
}
.step3 {
  transform: translateX(-200%);
}
.step3 .NextAccountIntro {
  transform: translateY(-100%);
}
/* Set Theme to Dark */
.dark li.section:before {
  color: #ffffff;
  background: #363636;
  border: 1px solid #ffffff;
}
.dark li.section.visited:before {
  content: "\2714";
  background: var(--Special_Color);
  border-color: var(--Special_Color);
  color: #ffffff;
}
.dark li.section.current:before {
  border-color: #363636;
  border-width: 2px;
  background: var(--Special_Color);
  color: #ffffff;
  box-shadow: 0 0 0 2px var(--Special_Color);
}

.dark li.section {
  color: #b7b7b7;
}

.dark .buttonUp {
  background: linear-gradient(145deg, #212121, #282828);
  box-shadow: 9px 9px 30px #1c1c1c, -9px -9px 30px #2e2e2e;
  color: #ffffff;
}
.dark .SunIcon {
  display: none;
}
.dark .MoonIcon {
  display: block;
}
.dark .wrapper {
  /* background-color: #252525; */
}
.dark .dark_vector2 {
  display: block;
}
.dark .vector2 {
  display: none;
}
.dark .sign-in-container,
.dark .sign-up-container {
  background-color: #363636;
}

.dark .c-stepper__desc {
  color: #b7b7b7;
}

.dark .c-stepper__item:before {
  border-color: #ebebeb;
}

.dark .c-stepper__item:nth-child(1)::before {
  color: #252525;
}

.dark .c-stepper__item:before {
  color: #ebebeb;
}

.dark .sub-sign-in-top,
.dark .sub-sign-up-top {
  border-image: linear-gradient(180deg, #bebebe, #eeeeee, #d2d2d2);
  border-image-slice: 1;
}

.dark .sub-sign-in-top div:nth-child(1),
.dark .sub-sign-up-top div:nth-child(1) {
  color: #ebebeb;
}

.dark .sub-sign-in-top div:nth-child(2),
.dark .sub-sign-up-top div:nth-child(2) {
  color: #b7b7b7;
}

.dark .sub-sign-in-main h1 {
  color: #ebebeb;
}

.dark .sign-in-main p,
.dark .sign-in-ClickSignIN span,
.dark .RadioButtonLable {
  color: #b7b7b7;
}

.dark .RadioButtonLable input:checked ~ .checkmarkradio {
  background-color: #b7b7b7;
}

.dark .sign-in-ClickSignIN span span:nth-child(2) {
  color: var(--Special_Color);
}

.dark .InputText,
.dark .InputPassword {
  background-color: #363636;
  color: #e1e1e1;
}

.dark .lableinput .SpanInput {
  color: #b7b7b7;
}

.dark .sign-in-main div #ForgetPassword {
  color: #ebebeb;
}

.dark .checkboxlable .text {
  color: #e7e7e7;
}

.dark .checkboxlable .checkmark:after {
  border-color: #ffffff;
}

.dark .sign-in-footer button:nth-child(1),
.dark .sign-up-footer button:nth-child(1) {
  background-image: linear-gradient(90deg, #bebebe, #eeeeee, #d2d2d2);
  color: #252525;
}

.dark .sign-in-footer button:nth-child(2),
.dark .sign-up-footer button:nth-child(2) {
  background-color: #363636;
  color: #ebebeb;
}
.dark .CodeResendBoxInRegister div span {
  color: #b7b7b7;
}
/* Set Language to Farsi */
.fa ::placeholder {
  font-family: var(--Sans_Regular);
}

.fa :-ms-input-placeholder {
  font-family: var(--Sans_Regular);
}

.fa ::-ms-input-placeholder {
  font-family: var(--Sans_Regular);
}
.fa .sign-in-container,
.fa .sign-up-container {
  direction: rtl;
}
.fa .c-stepper {
  direction: ltr;
}

.fa .sub-sign-in-top:nth-child(1),
.fa .sub-sign-up-top:nth-child(1) {
  right: 0;
  left: auto;
  padding-left: 0px;
  padding-right: 5px;
  border-left: 0;
  height: 50px;
  border-right: 15px solid transparent;
  text-align: right;
}
.fa .sub-sign-in-top:nth-child(1) div:nth-child(1),
.fa .sub-sign-up-top:nth-child(1) div:nth-child(1) {
  font-family: var(--Reyhaneh);
  margin-top: -10px;
}

.fa .sub-sign-in-top:nth-child(1) div:nth-child(2),
.fa .sub-sign-up-top:nth-child(1) div:nth-child(2) {
  font-family: var(--Sans_Regular);
  margin-top: -15px;
}
.fa .sub-sign-in-top:nth-child(2),
.fa .sub-sign-up-top:nth-child(2) {
  right: auto;
  left: 0px;
}

.fa .sub-sign-in-main h1 {
  text-align: right;
  font-family: var(--BKoodak);
  font-size: 22px;
}

.fa .sub-sign-in-main p {
  text-align: right;
  font-family: var(--Sans_Regular);
  font-weight: 100;
}

.fa .SpanFocusInput {
  left: auto;
  right: 1px;
  font-family: var(--Sans_Regular);
}

.fa .lableinput .SpanInput {
  left: auto;
  right: 10px;
  font-family: var(--Sans_Bold);
}

.fa .RadioButtonLable span,
.fa .c-stepper__desc,
.fa .sign-in-ClickSignIN span span {
  font-family: var(--Sans_Regular);
}

.fa .LoginFormError {
  font-family: var(--Sans_Regular);
}

.fa .sign-in-ClickSignIN span span {
  font-size: 14px;
}

.fa .checkboxlable {
  padding-right: 17px;
  padding-left: 0px;
}

.fa .sub-sign-up-top:nth-child(1) div:nth-child(1) {
  font-size: 24px;
  margin-top: 0px;
}

.fa .checkboxlable .text {
  font-family: var(--Sans_Regular);
}

.fa .checkmark {
  left: auto;
  right: 0px;
}

.fa .sign-in-main div #ForgetPassword,
.fa .sign-in-footer button,
.fa .sign-up-footer button,
.fa .Step:nth-child(2) .sign-up-footer button {
  font-family: var(--Sans_Regular);
}
.fa .step2 {
  transform: translateX(100%);
}
.fa .step3 {
  transform: translateX(200%);
}

.fa li.section {
  font-size: 13px;
  font-family: var(--Sans_Regular);
  font-weight: 100;
}

.fa .CodeResendBoxInRegister div span {
  font-family: var(--Sans_Regular);
  font-weight: 100;
}

/* Resolution alt:V =>
  800 x 600
  1024 x 768
  1152 x 864
  1280 x 720
  1280 x 768
  1280 x 800
  1280 x 960
  1280 x 1024
  1360 x 768
  1366 x 768
  1440 x 900
  1600 x 900
  1600 x 1024
  1680 x 1050
  1920 x 1080
*/

@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .sign-in-ClickSignIN {
    display: block;
  }
  #signIn2 {
    display: none;
  }
  .sign-in-main p {
    width: 70%;
  }
  .AccountInfoOOC {
    font-size: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 70%;
  }
  .AccountInfoOOC {
    font-size: 36px;
  }
}
