.ChatBox {
  width: 40%;
  height: 300px;
  display: grid;
  grid-template-rows: 5% 80% 15%;
  margin: 20px 0px 0px 40px;
  font-size: 24px;
  font-family: var(--font-family);
}
.UpperChat {
  background-color: none;
  transition: background-color 0.3s;
}
.ChatItem {
  -webkit-text-stroke: 0.5px #000000;
  color: #ffffff;
  padding: 0px 10px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: none;
  transition: background-color 0.3s;
}

.ChatItemActive {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
  overflow-y: scroll;
}

.InputChat {
  opacity: 0;
  transition: 0.3s;
}

.ActiveInput {
  opacity: 1;
  transition: 0.3s;
}

.InputChat input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 22px;
  padding: 0px 10px;
  border-radius: 2px;
  margin-top: 10px;
}

.TimeStampBox {
  display: none;
}
.TimeStampBox span {
  font-family: none;
}

.ActiveTimeStamp {
  display: unset;
}
