.vehicleInfoBox {
  opacity: 0;
  transition: opacity 0.3s;
}

.vehicleInfoBoxActive {
  opacity: 1;
  transition: opacity 0.3s;
}

.VehicleFuelValue {
  width: 0%;
}

.VehicleFuelValueAlert {
  animation: AlertFuelInSpeedOmeter 1s infinite;
}

.ActiveCarIcons {
  opacity: 1 !important;
}

#doors-icon, /* Doors */
#belt-icon , /* Kamar band */
#trunk-icon, /* Tane */
#engine-icon, /* engine */
#light-icon, /* Cheragh */
#cruise-icon /**/ {
  transition: opacity 0.3s;
  display: block;
  opacity: 0.35;
}

/* #VehicleKMHValue */

.VehicleInfoStrela {
  /*  0 -> 13 */
  /*  1 -> 38 */
  /*  2 -> 64 */
  /*  3 -> 90 */
  /*  4 -> 116 */
  /*  5 -> 142 */
  /*  6 -> 168 */
  /*  7 -> 198 */
  /*  8 -> 226 */
  /*  9 -> 252 */
  /* 10 -> 275 - 280 */
  transition: 0.3s;
  transform: translate(-22px, 45px) rotateZ(13deg);
}
