::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar_background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Special_Color);
  transition: 0.3s;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--Special_Color);
}
